body{
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
    font-family: sans-serif;
}

*{
    transition: all .5s ease;
}

.container{
    width: 70%;
    height: fit-content;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: rgb(83, 83, 83);
    border: 2px solid rgb(112, 112, 112);
}

.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(112, 112, 112);
}
.containerNavLeft{
    font-size: 1.4rem;
    color: white;
    font-weight: 700;
}
.containerNavRight{
    font-size: 1.2rem;
    color:cadetblue;
    margin-right: 10px;
}

.chatSection{
    height: 380px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.Messege{
    margin: 10px;
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
.name{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 2px solid white;
    width: 150px;
    padding: 5px;
}

.input{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.inputText{
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    background-color: rgb(175, 175, 175);
    width: 100%;
    margin-right: 5px;
}

.sendBtn{
    background-color: rgb(189, 189, 189);
    border: none;
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}.sendBtn:active{
    transform: scale(1.06);
    box-shadow: 0px 0px 5px white;
}

.deleteBtn{
    background-color: cadetblue;
    color: white;
    border: none;
    padding: 3px;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 3px;
}


@media (max-width: 500px){
    .container{
        width: 90%;
    }
    .deleteBtn{
        font-size: 1rem;
        margin-top: 40px;
    }
}